.container {
  padding: 0 2rem;
}

.main {
  max-width: 1000px;
  margin: 2rem auto;
}

.buttonContainer {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.buttonContainer button {
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  color: var(--background);
  font-size: 1.25rem;
  border-radius: 10px;
}

.title, .content {
  width: 100%;
  border: none;
  resize: none;
  outline: none;
  font-family: inherit;
  background-color: var(--border);
  padding: 1rem 1.5rem;
  border-radius: 10px;
}

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content {
  font-size: 1.5rem;
}